In [1]:
import matplotlib as plt
import pandas as pd 
import numpy as np

In [2]:
df1 = pd.read_csv("Dataset1_TranscriptMahasiswa.csv", sep=";", dtype={"NIM" :"object"})
df2 = pd.read_csv("Dataset2_EvaluasiDosenPerMK.csv", sep=";", decimal=",")

In [3]:
df1["GRADE"].describe()

count     30318
unique       10
top           A
freq       7790
Name: GRADE, dtype: object

In [4]:
indeks = ["A", "A-", "B+", "B", "B-", "C+", "C", "D", "E", "F"]
bobot = [4, 3.7, 3.3, 3.0, 2.7, 2.3, 2.0, 1.0, 0, 0]
df1["NILAI"].fillna(0)

for i in df1.index:
    for j in indeks:
        if df1.at[i, "GRADE"] == j:
            df1.at[i, "BOBOT"] = bobot[indeks.index(j)]

In [5]:
df1

,NIM,ANGKATAN,SEMESTER,KODE_MK,NAMA_MK,SKS,NILAI,GRADE,BOBOT
0,10110310002,2010,1011,EM100,EM100 Dasar-dasar Bisnis,3,57.0,C,2.0
1,10110310002,2010,1011,EM180,EM180 Matematika Bisnis,3,70.0,B,3.0
2,10110310002,2010,1011,TI100,TI100 Algoritma dan Pemrograman,4,57.0,C,2.0
3,10110310002,2010,1011,TI101,TI101 Matematika Diskrit,3,59.0,C,2.0
4,10110310002,2010,1011,TI110,TI110 Pengantar Teknologi Multimedia,3,74.0,B,3.0
...,...,...,...,...,...,...,...,...,...
30865,00000033849,2018,1821,IS220,Interaksi Manusia dan Komputer,3,26.0,E,0.0
30866,00000033849,2018,1821,IS240,Probabilitas dan Statistik,3,38.0,E,0.0
30867,00000033849,2018,1821,IS251,Perilaku Organisasi,2,49.0,D,1.0
30868,00000033849,2018,1821,IS255,Algoritma dan Struktur Data,4,1.0,E,0.0
30869,00000033849,2018,1821,UM223,Bahasa Inggris 2,2,40.0,E,0.0

In [6]:
df1[df1['GRADE'].isnull()]['NILAI'].isnull()

10       False
16       False
32       False
53       False
68       False
         ...
10183    False
10188    False
10196    False
10204    False
10208    False
Name: NILAI, Length: 552, dtype: bool

In [7]:
df1[df1['NILAI'].isnull()]

,NIM,ANGKATAN,SEMESTER,KODE_MK,NAMA_MK,SKS,NILAI,GRADE,BOBOT
18866,00000009931,2015,1811,IS341,Sistem Basis Data,3,NaN,F,0.0
21965,00000012407,2015,1621,IS432,Pengantar E-Business,3,NaN,F,0.0
22633,00000013019,2016,1821,IS670,Audit Sistem Informasi,3,NaN,F,0.0
25920,00000019365,2017,1811,IS341,Sistem Basis Data,3,NaN,F,0.0
26030,00000019601,2017,1721,IS201,Proses Bisnis Korporat,3,NaN,F,0.0
26760,00000021116,2017,1711,IF110,Pengantar Teknologi Multimedia,3,NaN,F,0.0
26901,00000021159,2017,1821,UM321,Bahasa Inggris 3,2,NaN,F,0.0
27520,00000022742,2017,1721,IS230,Algoritma dan Pemrograman,3,NaN,F,0.0
27774,00000023564,2017,1721,IS230,Algoritma dan Pemrograman,3,NaN,F,0.0
29423,00000028446,2018,1821,IS220,Interaksi Manusia dan Komputer,3,NaN,F,0.0
29723,00000029747,2018,1811,IF100,Dasar-Dasar Pemrograman,3,NaN,F,0.0
30066,00000031318,2018,1821,IS201,Proses Bisnis Korporat,3,NaN,F,0.0